################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
staticfiles/
# Ignore virtual environment folders
.venv/
venv/
# Ignore Python bytecode files
*.pyc   