<!-- confirm_logout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Logout</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'confirm_logout' %}">Logout</a></li>
            <li><a href="{% url 'register' %}">register</a></li>
        </ul>
    </nav>
    <h1>Are you sure you want to log out? {{ request.user }}</h1>

    <form method="POST" action="{% url 'confirm_logout' %}">
        {% csrf_token %}
        <a href="{% url 'home' %}"> 
        <button type="submit">Yes, Logout</button></a>
       
    </form>
    <a href="{% url 'home' %}">Cancel</a>
</body>
</html>
