<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
   <nav>
        <ul>  
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          
            {% if user.is_authenticated %}
            <li><a href="{% url 'confirm_logout' %}">Logout</a></li>
            {% endif %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'generate_dataframe' %}">Dataframe</a></li>
            <li><a href="{% url 'add_expenses' %}">Add Expenses</a></li>
            <li><a href="{% url 'category_list' %}">Categories</a></li>
            <li><a href="{% url 'products_list' %}">Products</a></li>
        </ul>
    </nav>
    <div>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
      
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" required> 
        
        <button type="submit">Login</button>
    </form>
</div>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
